* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 500px;
  max-height: 500px;
}

#rec1img {
  transform: rotate(270deg);
}
